<!-- <p>filter works!</p> -->

<div class="container">
  <div class="row justify-content-center my-4">
    <div class="col-2 mx-3">
      <label for="caseno">Case No:</label>
      <input type="text" class="form-control" id="caseNo" />
    </div>
    <div class="col-2 mx-3">
      <label for="caseType">Case Type:</label>
      <input type="text" class="form-control" id="caseType" />
    </div>
    <div class="col-2 mx-3">
      <label for="lawyer">Lawyer:</label>
      <input type="text" class="form-control" id="lawyer" />
    </div>
    <div class="col-2 mx-3">
      <label for="judge">Judge:</label>
      <input type="text" class="form-control" id="judge" />
    </div>
    <div class="col-2 mx-3 align-self-end">
      <button>Apply Filter</button>
    </div>
  </div>
</div>
