label{
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* input{
  border-radius: 5px;

} */

button{
  background-color: #c7c7ff;
  color: #48489c;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 0px;
  padding: 5px 14px;
}

button:hover{
  background-color: #48489c;
  color: white;
}

