<!-- <p>chat works!</p> -->

<div class="container p-0 mx-0 h-100">
  <app-navbar></app-navbar>
  <div class="row justify-content-between my-5">
    <div class="col-8 px-5">
      <div id="pdfViewer">
        <object
          data="{{ path }}"
          type="application/pdf"
          width="50%"
          height="900px"
        >
          <!-- <embed src="IrusumallaSivaprasadResume.pdf" type="application/pdf" /> -->
        </object>
      </div>
    </div>
    <div class="col-4">
      <h3>Chat with the document</h3>
      <div class="chat-container">
        <div class="chat-history">
          <div *ngFor="let message of messages" class="message">
            <p>
              <strong>{{ message.user }}</strong
              >: {{ message.text }}
            </p>
          </div>
        </div>
        <input
          [(ngModel)]="newMessage"
          (keyup.enter)="sendMessage()"
          placeholder="Type your message here..."
        />
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
