.container-margin{
    margin-left: 0px !important;
    margin-right: 0px !important;

}
/* .foter{
  background-color: rgb(0, 0, 0) !important;
  color: white !important;
} */

/* .foot-width{
  width: 101vw;
  background-color: rgb(0, 0, 0) !important;
  color: white !important;
} */

/* .foot-width i{
  color: white !important;
}

span{
  color: white !important;
} */

.mar{
  margin-top: 2px !important;
}
.backgroudc{
  background-color: rgb(224, 224, 224);
  height: 140px;
  padding: 50px;
  margin-top: 10px;
}
