.welcome{
    color: gray;
}

/* .dashboard-width{
    width: 100% !important;
    background-color: rgb(220, 220, 220) !important;
} */
.container-margin{
    margin-left: 0px !important;
    margin-right: 0px !important;

}

.nav-width{
    width: 101vw;
}

a{
  text-decoration: none;
}

button{
  background-color: #c7c7ff;
  color: #48489c;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 0px;
  padding: 5px 14px;
}

button:hover{
  background-color: #48489c;
  color: white;
}
