<div class="container p-0 container-margin h-100">
  <app-navbar></app-navbar>
  <div class="row justify-content-between">
    <div class="col-2 border rounded-right h-auto">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-10">
      <!-- Your content goes here -->
      <div class="container">
        <div class="row">
          <!-- Left column with some content -->
          <div
            class="col-md-6 d-flex flex-column justify-content-center align-items-center"
          >
            <h3 class="welcome">Welcome to</h3>
            <h2>Case management</h2>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry.
            </p>
          </div>
          <!-- Right column with an image -->
          <div class="col-md-6 p-5">
            <img
              src="https://s3-alpha-sig.figma.com/img/6293/dc91/d5987c05a7fbe8c852eb700f81bde375?Expires=1707696000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=ZxOTFy2JpEMkwTQmq017lmy7zZVttC2cK0epSxh3i5bgDIPhb10hLjVyXmQO9Nl7yzrRKq5M~NL7ZYypF222lWg2pIA3s1okHotXxJhrODrgctzpNBzfdrXaUzd4X0VB6O17TBWf4kVJF7iHahMjcmNvxQc01lGfEzSF42Eq31RVQnYidYZmNbEdIceP8QlWXh0U-0WTnCV--8-iJjAkPj-fzVPgKa9OdtspYFHSgdUp8h2VzP9pTOiOZi6LY50~5q740b3RoPcXiIvYYAzNdkBOD7At1Pv35FXv6OGGeBwx6Kj9nYGQujkVfaTUDE4D8276wakT9Un9r-p5I~NMiQ__"
              height="300px"
              width="300px"
              alt="Image"
              class="img-fluid"
            />
          </div>
        </div>
      </div>

      <table class="table px-5">
        <thead>
          <tr>
            <th scope="col">Case no</th>
            <th scope="col">Lawyer</th>
            <!-- <th scope="col">Prosecutor</th> -->
            <th scope="col">Case Type</th>
            <th scope="col">Status</th>
            <th scope="col">Judge</th>
            <th scope="col">Legal overview</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let case of cases">
            <th scope="row">
              <a routerLink="/chat">{{ case.caseno }}</a>
            </th>
            <!-- <td>Legal overview</td> -->
            <td>{{ case.lawyer }}</td>
            <td>{{ case.casetype }}</td>
            <td>{{ case.status }}</td>
            <td>{{ case.judge }}</td>
            <th scope="col"><a href="">Legal overview</a></th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<app-footer></app-footer>
