.dashboard-width{
    width: 100% !important;
    height: 100px;
    background-color: rgb(220, 220, 220) !important;
}

.nav-width{
    width: 101vw;
}
.logo-pad{
  margin-right: 20px;
}
.subscript{
  font-size: 16px;
  color: white;
  /* letter-spacing: .5px; */
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}
.super{
  font-size: 10px;
}
h2{
  font-size: 30px;
  font-weight: bold;
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 0 0 3px rgb(82, 81, 81);
  margin-right: 10px;
}

.nav-color{
  /* background-color: #48489c !important; */
  background: rgb(40,50,137);
background: linear-gradient(90deg, rgba(40,50,137,1) 20%, rgba(29,29,70,1) 62%);
  color: rgb(219, 219, 219);

}

.logout-button{
  background-color: #c0362c;
  /* background-color: white; */
  /* color: #48489c; */
  border: 0px;
  padding: 7px 15px;
  color: rgb(239, 238, 238);
  font-size: 15px;
  margin-bottom: 10px;
  margin-right: 20px;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.logout-button:hover{
  background-color: #8f1f17;
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}

.home-button{
  background-color: #367911;
  /* background-color: white; */
  /* color: #48489c; */
  border: 0px;
  padding: 7px 15px;
  color: rgb(239, 238, 238);
  font-size: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.home-button:hover{
  background-color: #24520c;
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}

.power-icon{
  text-decoration: none;
  color: white;
  cursor: pointer;

}
.bold-icon{
  font-size: x-large;
}
.top-padding{
  padding-top: 30%;
  margin-left: 25%;
}

.round-image{
  border-radius: 50px !important;
}

.headerPad{
  padding-left: 60px !important;
}
