.dashboard-width{
    width: 100% !important;
    height: 100px;
    background-color: rgb(220, 220, 220) !important;
}

.nav-width{
    width: 101vw;
}
h1{
  font-size: 30px;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-shadow: 0 0 3px rgb(82, 81, 81);
}

.nav-color{
  background-color: #48489c !important;
  color: rgb(219, 219, 219);

}

.logout-button{
  background-color: #c0362c;
  /* background-color: white; */
  /* color: #48489c; */
  border: 0px;
  padding: 7px 15px;
  color: rgb(239, 238, 238);
  font-size: 15px;
  margin-bottom: 10px;
  margin-right: 20px;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.logout-button:hover{
  background-color: #8f1f17;
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}

.home-button{
  background-color: #367911;
  /* background-color: white; */
  /* color: #48489c; */
  border: 0px;
  padding: 7px 15px;
  color: rgb(239, 238, 238);
  font-size: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.home-button:hover{
  background-color: #24520c;
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}

.round-image{
  border-radius: 50px !important;
}
