<!-- <p>navbar works!</p> -->

<!-- <div class="row justify-content-between nav-width">
  <nav class="navbar navbar-expand-lg navbar-light bg-light dashboard-width">
    <div class="container-fluid px-5">
      <h1 class="navbar-brand">Legal Research Assistant</h1>

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <span class="nav-link">
              <h6>{{ currentDate | date : "fullDate" }}</h6>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div> -->

<div class="row nav-color d-flex justify-content-center py-4">
  <div class="col-9 d-flex align-items-center headerPad">
    <img
      src="https://companieslogo.com/img/orig/WIT_BIG.D-cc466c6a.png?t=1648406781"
      alt=""
      height="60px"
      class="logo-pad"
    />
    <h2>Legal Research Assistant</h2>
    <sub class="d-flex align-items-end subscript"
      >Powered by intel <i class="fa-regular fa-registered super"></i
    ></sub>
  </div>
  <!-- <div class="col-2 d-flex align-items-center justify-content-end">
    <span class="nav-link">
      <h6>{{ currentDate | date : "fullDate" }}</h6>
    </span>
  </div> -->
  <div class="col-3 d-flex justify-content-center align-items-center">
    <!-- <button type="submit" class="logout-button" (click)="logout()">
      Logout
    </button> -->
    <img
      src="{{ profileImage }}"
      alt=""
      style="height: 55px; width: 55px"
      class="round-image mx-3"
    />
    <!-- <button
      type="submit"
      class="home-button mx-1"
      (click)="goToHome()"
      *ngIf="homeStatus"
    >
      Home
    </button> -->
    <!-- <a (click)="goToHome()" *ngIf="homeStatus" class="power-icon"
      ><i class="bold-icon fa-solid fa-house"></i>
      <p>Home</p></a
    > -->
    <div class="d-flex align-items-end">
      <a
        (click)="goToHome()"
        *ngIf="homeStatus"
        class="power-icon d-flex flex-column align-items-center top-padding"
      >
        <i class="bold-icon fa-solid fa-house"></i>
        <p>Home</p>
      </a>
    </div>
    <div class="d-flex align-items-end mx-3">
      <a
        (click)="logout()"
        class="power-icon d-flex flex-column align-items-center top-padding"
      >
        <i class="fa-solid fa-power-off bold-icon"></i>
        <p>Logout</p>
      </a>
    </div>
  </div>
</div>
