<app-navbar></app-navbar>
<div class="container p-0 mx-0">
  <div class="row justify-content-between">
    <div class="col-2 col-2 border rounded-right">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-10 pt-5 px-5">
      <div class="row">
        <div class="col-3">
          <img
            class="rounded-circle h-75"
            src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
            alt=""
          />
        </div>
        <div class="col-5">
          <div class="row"><h3>Welcome</h3></div>
          <div class="row"><h1>Profile management</h1></div>
          <p>
            Law is the essential foundation of stability and order both within
            societies and in international relations.
          </p>
          <div class="row"></div>
        </div>
        <div class="col-4">
          <!-- <ejs-calendar
            id="calendar"
            [value]="value"
            [min]="minDate"
            [max]="maxDate"
          >
          </ejs-calendar> -->
          <!-- <img
            class="rounded-circle h-75"
            src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
            alt=""
          /> -->
        </div>
      </div>

      <div class="row justify-content-md-center mt-5">
        <div class="col col-md-auto">
          <button type="submit" class="submt enlarge-btn">
            Cases won <br />
            43
          </button>
        </div>
        <div class="col-md-auto">
          <button type="submit" class="submt enlarge-btn">
            Cases lost <br />
            07
          </button>
        </div>
        <div class="col col-md-auto">
          <button type="submit" class="submt enlarge-btn">
            In Progress <br />
            10
          </button>
        </div>
      </div>

      <div class="row justify-content-md-center mt-5">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Case no</th>
              <th scope="col">Litigation Overview</th>
              <th scope="col">Lead Attorney</th>
              <th scope="col">Prosecutor</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Sample overview 1</td>
              <td>John doe</td>
              <td>Jane Smith</td>
              <td>In progress</td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>Sample overview 2</td>
              <td>Alice jhonson</td>
              <td>Bob brown</td>
              <td>Completed</td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>Sample overview 1</td>
              <td>John doe</td>
              <td>Jane Smith</td>
              <td>In progress</td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>Sample overview 1</td>
              <td>John doe</td>
              <td>Jane Smith</td>
              <td>In progress</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
