.container-margin{
    margin-left: 0px !important;
    margin-right: 0px !important;
    
}

.submt{
    background-color: #c7c7ff;
    border-color: 0px;
    padding: 10px 15px 10px 15px;
    border-radius: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.enlarge-btn {
    display: inline-block;
    padding: 30px 20px;
    padding-bottom: 30;
    font-size: 16px;
    position: relative; /* Set position to relative for absolute positioning of numbers */
    transition: transform 0.3s ease-in-out;
    background-color: #c7c7ff; /* Lighter purple color */
    color: #000000; /* Set the text color to black for better contrast */
    border: none; /* Remove the default button border */
    cursor: pointer; /* Change cursor to pointer on hover */
    margin-bottom: 5px; /* Add some space between buttons and numbers */
    margin: 15px;
  }

  .enlarge-btn:hover {
    -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
  }